CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://127.0.0.1:3000/auth/callback
SCOPE=user-read-private user-top-read user-read-recently-played user-read-playback-state user-read-currently-playing
SESSION_SECRET=
ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]